header {
    background-color: rgb(129, 194, 194);
    text-align: center;
    padding: 1.8em;
}

header h1{
    font-size: 3em;
    margin: 0.5em;
    font-weight: bolder;
    text-transform: uppercase
}

header h2 {
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

header h2 a {
    background-color: rgba(11, 45, 77, 0.2);
    color: white;
    padding: 0.5em;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.areaCentral{
  height:30em;
  background-color:rgba(129, 194, 194, 0.5);
}

.areaCentral a {
    color: white;
}

.funcao {
    background-color: rgb(26, 104, 156);
    margin-top: -2%;
    padding: 0.3em;
    text-align: center;
    color: white;
    font-weight: bold;
    width:50em;
    margin: -0.85em auto;
    margin-bottom: 1em;
    text-transform: uppercase
}

.mensagem {
    width: 50em;
    height: 20em;
}

ul {
    width: 50em;
    margin: -0 auto;
    text-align: center;
}

li {
    display: inline-block;
    margin: 1em;
}

#botaoAviso {
    background-color: red;
}

#botaoAviso:hover {
    background: rgb(224, 76, 66);
    transform: scale(1.2);
}

li button {
    text-align: center;
    margin-top: 2em;
    margin-right: 5em;
    vertical-align: top;
    width: 100%;
    padding: 10px 0;
    background: rgb(26, 104, 156);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;

}

li button:hover {
    background: rgb(42, 142, 209);
    /**transform: rotate(10deg);**/
    transform: scale(1.2);
}

footer {
    background-color: rgb(129, 194, 194);
    text-align: center;
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
    padding: 1.8em;
}